/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');


/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
    color: #929191;
}

html {
		/* Standard text-settings below */
    line-height: 1.4em;
}
.logo{
    font-size: .5rem;
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#logo{
    padding: 100px;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
main img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
footer img{
  max-width: 10%;
  width:50%;
}

/* Mobile First CSS: we'll design for phone sizes first, then add media queries for tablets and desktop computers later */

/* body {
	
	
} */
header{
  /*  box model properties  */
  font-size: 1.25rem;

  /* position properties */
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;

  /* flex properties */
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
}

header a {
  color: #eee;
  text-decoration: none;
}

header a:hover {
  color: #ec0000;
}
.logo {
  font-size: 1.5rem;
}

header, footer{
    background-color: #2d2dfd;
    color: #eee;
    padding: 1.25em;
}
button{
  width: 20%;
  color: blue;
}


/* #container {
	
} */
main{
    padding: 1em;
}

a {
    color: #FFFFFF;
  }
  
  a:hover {
    color: #ce2f2f;
  }
/* Class for making YouTube/Vimeo videos responsive */

figure.responsive {
    position: relative;
    padding-bottom: 56.25%;  /* 16:9 */
    height: 0px;
    overflow: hidden;
    max-width: 100%;
}

figure.responsive iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}



/* A better looking default horizontal rule */
hr {
    display: block;
    height: 1px;
    border: 0px;
    border-top: 1px solid #ccc;
    margin: 1em 0px;
    padding: 0px;
}



/* ========================================
MEDIA QUERIES!
You can adjust the min-width numbers below, and add as many new media queries as you need.
======================================== */

/* Minimum width for iPads and tablets.  */
@media all and (min-width: 481px) {
	
	
	
	
} /* closes 481px+ */



/* Minimum width for laptops. */
@media all and (min-width: 769px) {
	
	
	
	
} /* closes 769px+ */



/* Minimum width for desktop screens. */
@media all and (min-width: 1024px) {
	
	
	
	
} /* closes 1024px+ */





